<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row g-3">
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <input type="number" placeholder="Admission Number" class="form-control">
        </div>
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="d-flex align-items-center justify-content-center">
                <button class="btn btn-outline-success">Search</button>
            </div>
        </div>
    </div>
</div>